@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #292828;
  --black-dark: #181818;

  --gray: #F5F5F5;
  --gray-lightest: rgba(246, 246, 253, 1);
  --gray-light: #5A5A5A;
  --gray-dark: #3F3F3F;
  

  --yellow: #FFE817;
  --orange: #FF582A;

  --blue: rgba(63, 54, 225, 1);
  --blue-light: rgba(63, 54, 225, .9);
  --blue-lighter: rgba(63, 54, 225, .75);

  --purple: #B76BFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--white);
    --foreground: var(--black-light);
    --primary: var(--blue);
    --primary-light: var(--blue-light);
    --primary-lighter: var(--blue-lighter);
    /* Link */
    --link: var(--foreground);
    --link-hover: var(--primary);
    /* Input */
    --input: var(--foreground);
    --input-hover: var(--primary);
    --input-label: var(--foreground);
    --input-placeholder: var(--gray-light);
    --input-error: var(--black-light);
    --input-success: var(--black-light);
    --input-warning: var(--black-light);
    --input-danger: var(--black-light);
    --input-hint: var(--black-light);
    --input-disabled: var(--black-light);
    /* Select */
    --select-arrow: var(--gray-dark);
    --select-arrow-hover: var(--primary);
    --select-arrow-success: var(--gray-dark);
    --select-arrow-warning: var(--gray-dark);
    --select-arrow-danger: var(--gray-dark);
    /* Button */
    --button-primary: var(--primary);
    --button-primary-hover: var(--primary-light);
    --button-primary-focus: var(--primary-lighter);
    --button-primary-color: var(--white);
    --button-primary-disabled: var(--primary-lighter);
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-paper-plane:before {
  content: "\e901";
}
.icon-fire:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-vk:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-mark:before {
  content: "\e909";
}
.icon-mark-full:before {
  content: "\e90a";
}
.icon-city:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}


.nav__link.active {
  @apply font-medium text-link-hover indent-[1px];
}

/* =========== Button  */
.btn-primary {
  @apply bg-button-primary;
  @apply hover:bg-button-primary-hover;
  @apply focus:bg-button-primary-focus;
}

.btn-primary-text {
  @apply text-button-primary-color;
}

.btn-primary-outline {
  @apply bg-white border border-button-primary text-button-primary;
  @apply hover:bg-white;
  @apply focus:bg-white;
}

.btn-warning {
  @apply bg-orange relative;
  @apply after:absolute after:top-[100%] after:left-[17px] after:w-[0] after:h-[0] after:border-t-[4px] after:border-r-[3px] after:border-l-[3px] after:border-b-0 after:border-r-transparent after:border-l-transparent after:border-t-orange;
}
.btn-warning-text {
  @apply text-white;
}

.btn-secondary {
  @apply bg-white;
}
.btn-secondary-text {
  @apply text-primary;
}

/* =========== Select */
.select-arrow {
  @apply block absolute top-[50%] right-[25px] 2xl:right-[32px] mt-[-5px] 2xl:mt-[-4px] h-[6px] w-[6px] border-r border-b border-r-select border-b-select rotate-45;
}
.select:focus + .select-arrow {
  @apply border-r-select-hover border-b-select-hover;
}

/* =========== Header  */
.header {
  @apply sticky top-0 inset-x-0 z-50 bg-white h-[52px];
  @apply md:h-[84px];
}
.header__wrapper {
  @apply flex items-center justify-between pt-[14px] pl-[17px] pr-[17px];
  @apply md:pt-[25px] md:pl-[68px] md:pr-[66px];
  @apply 2xl:pt-[19px] 2xl:pb-[20px] 2xl:pl-[65px] 2xl:pr-[59px];
}

/* =========== Hamburger menu */
.hamburger-menu {
  @apply relative z-10;
}
.hamburger-menu__btn {
  @apply flex justify-center items-center cursor-pointer w-[34px] h-[24px] relative z-30;
}
.hamburger-menu__btn-lines {
  @apply block relative bg-primary h-[3px] w-[30px] rounded-full;
  @apply before:absolute before:left-0 before:top-[-9px] before:bg-primary before:h-[3px] before:w-[30px] before:rounded-full;
  @apply after:absolute after:left-0 after:bottom-[-9px] after:bg-primary after:h-[3px] after:w-[30px] after:rounded-full;
}
.hamburger-menu__checkbox {
  @apply hidden;
}
.hamburger-menu__checkbox:checked + .hamburger-menu__mobile {
  @apply block lg:hidden;
}
.hamburger-menu__mobile {
  @apply hidden;
}
.mobile-nav {
  @apply fixed top-0 left-0 right-0 bottom-0 z-20;
}

/* =========== Footer  */
.footer {
  @apply bg-black-dark text-center;
}
.footer__wrapper {
  @apply container pt-[58px] pl-[25px] pr-[25px] pb-[38px];
}

/* =========== Section  */
.section--main {
  @apply relative bg-[url(@/assets/images/sm/bg-section-plane.png)] bg-no-repeat bg-[56px_85px];
  @apply md:bg-[url(@/assets/images/md/bg-section-plane.png)] md:bg-[121px_14px];
  @apply lg:bg-[url(@/assets/images/lg/bg-section-plane.png)] lg:bg-[614px_50px];
  @apply xl:bg-[url(@/assets/images/xl/bg-section-plane.png)] xl:bg-[121px_14px];
  /* Before */
  @apply before:absolute before:hidden;
  @apply before:left-[44px] before:bottom-[46px] before:w-[555px] before:h-[566px] before:z-10 before:bg-no-repeat before:bg-[url(@/assets/images/xl/bg-section-america.png)];
  /* After */
  @apply after:absolute after:hidden 2xl:block;
  @apply after:right-[1px] after:bottom-[0] after:w-[629px] after:h-[597px] after:z-10 after:bg-no-repeat after:bg-[url(@/assets/images/xl/bg-section-europe.png)];
}

.bg-man {
  @apply relative;
  /* Before */
  @apply before:absolute before:top-[-101px] before:right-[-45px] before:w-[158px] before:h-[146px] before:bg-[url(@/assets/images/sm/bg-section-man.png)] before:bg-no-repeat before:bg-cover;
  @apply before:md:top-[-103px] before:md:right-[-59px] before:md:w-[158px] before:md:h-[146px] md:before:bg-[url(@/assets/images/md/bg-section-man.png)];
  @apply before:2xl:top-[-100px] before:2xl:right-[-69px] before:2xl:w-[158px] before:2xl:h-[146px] 2xl:before:bg-[url(@/assets/images/xl/bg-section-man.png)];
  /* After */
  @apply after:hidden;
  @apply after:md:block after:absolute after:top-[-34px] after:right-[-231px] after:w-[176.8px] after:h-[78px] after:bg-no-repeat after:bg-[url(@/assets/images/md/bg-section-plane-right.png)];
  @apply after:2xl:block after:2xl:top-[24px] after:2xl:right-[-220px] after:2xl:w-[178px] after:2xl:h-[79px] after:2xl:bg-[url(@/assets/images/xl/bg-section-plane-right.png)];
}
.section--gradient {
  @apply relative;
  @apply before:absolute before:block before:top-0 before:left-0 before:w-full before:h-[330px] before:bg-gradient-to-r before:from-primary before:to-purple;
  @apply after:absolute after:block after:top-0 after:left-0 after:w-full after:h-[330px] after:bg-[url(@/assets/images/xs/bg-section.png)] after:md:bg-[url(@/assets/images/xl/bg-section.png)] after:bg-[top_center] after:bg-no-repeat;
}
.section__wrapper {
  @apply relative container mx-auto px-[15px];
}
.section__header, .section__footer {
  @apply text-center;
}

/* =========== Cards  */
.cards {
  @apply grid gap-[14px] mb-[30px];
  @apply md:gap-[20px];
  @apply lg:grid-cols-2 lg:gap-[30px];
}
.card {
  @apply bg-white rounded-[4px] p-[30px] flex gap-[16px] transition-shadow duration-300 shadow-[0px_0px_22px_rgba(0,0,0,0.07)];
  @apply hover:shadow-[0px_0px_22px_rgba(189,203,231,1)];
}
.card__item {
  @apply first:w-[50px] first:h-[50px] rounded-full;
}
.card__header {
  
}
.card__content {

}
.section__nav {
  @apply flex gap-[12px] mb-[18px];
  @apply md:mb-[25px];
  @apply 2xl:gap-[12px] 2xl:mb-[20px];
}
.card__title {

}
.card__text {

}
.card__footer {
  @apply text-right;
}
