@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #292828;

  --gray: #F5F5F5;
  --gray-light: #5A5A5A;
  --gray-dark: #3F3F3F;

  --yellow: #FFE817;
  --orange: #FF582A;

  --blue: #3F36E1;
  --blue-light: #3F3CE3;
  --blue-lighter: #4132E5;

  --purple: #B76BFE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--white);
    --foreground: var(--black-light);
    --primary: var(--blue);
    --primary-light: var(--blue-light);
    --primary-lighter: var(--blue-lighter);
    /* Link */
    --link: var(--foreground);
    --link-hover: var(--primary);
    /* Input */
    --input: var(--foreground);
    --input-hover: var(--primary);
    --input-label: var(--foreground);
    --input-placeholder: var(--gray-light);
    --input-error: var(--black-light);
    --input-success: var(--black-light);
    --input-warning: var(--black-light);
    --input-danger: var(--black-light);
    --input-hint: var(--black-light);
    --input-disabled: var(--black-light);
    /* Select */
    --select-arrow: var(--gray-dark);
    --select-arrow-hover: var(--primary);
    --select-arrow-success: var(--gray-dark);
    --select-arrow-warning: var(--gray-dark);
    --select-arrow-danger: var(--gray-dark);
    /* Button */
    --button-primary: var(--primary);
    --button-primary-color: var(--white);
    --button-primary-hover: var(--primary-lighter);
    --button-primary-disabled: var(--primary-lighter);
  }
}

.nav__link {
  text-shadow: 0 0 0 transparent;

  &:hover {
    text-shadow: 0 0 1px var(--link-hover);
  }
}

/* =========== Button  */
.btn-primary {
  @apply bg-button-primary hover:bg-button-primary-hover;
}

.btn-primary-text {
  @apply text-button-primary-color;
}

.btn-primary-outline {
  @apply bg-button-primary text-button-primary-color hover:bg-button-primary-hover;
}

/* =========== Section  */
.section {
  position: relative;
}

.section-gradient:before {
  content: '';
  background: linear-gradient(to right, var(--primary), var(--purple));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  z-index: -1;
}

/* =========== Select */
.select + .select-arrow {
  @apply block absolute top-[50%] right-[30px] mt-[-2px] h-[6px] w-[6px] border-r border-b border-r-select border-b-select rotate-45;
}
.select:focus + .select-arrow {
  @apply border-r-select-hover border-b-select-hover;
}
